<main>
    <section class="new_arrivals_area section_padding_100_0 clearfix">
        <div class="container">




            <h1 style="text-align:center; font-size: 80px; font-weight:bold;">ĐẶT HÀNG THÀNH CÔNG !</h1>
            <br><br><br>
            <h2 style="text-align:center;"><a href="@Url.Action("Index2", "Sanphams")" style="background-color: Orange; width: 500px; font-size: 18px" class="btn karl-checkout-btn">Trở về trang chủ</a></h2>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>


        </div>
    </section>
</main>